on: 
    release:
        types:
          - published

name: Push to assetlib

jobs:
    publish:
        if: github.event.action == 'released'
        runs-on: ubuntu-latest
        name: Publish new version to asset lib
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Godot Asset Lib
              uses: deep-entertainment/godot-asset-lib-action@main
              with:
                username: deepgames
                password: ${{ secrets.ASSET_STORE_PASSWORD }}
                assetId: 903
                approveDirectly: "true"


